:root {
  /* Dizzy */
  --lightBlue: #d0fcfb;
  --mediumBlue: #477fa1;
  --darkBlue: #1a2f41;
  --ribbonYellow: #f8f3a3;
  --necroGray: #535d58;

  /* Falco */
  --beakOrange: #eab458;
  --eyesRed: #9f1a20;
  --featherblue: #3a468c;
  --pantsBrown: #843518;
  --jacketTan: #efefa5;

  --AZgray: rgb(69, 69, 69);

  --font-size: 1.5rem;

  /* Fonts */
  --sourceCode: "Source Code Pro";
  --ubuntu: "Ubuntu";
}


/* Border box model  */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--ubuntu);
  background-color: var(--darkBlue) !important;
  /* background-color: var(--mediumBlue); */
  color: white;
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: white;
}

a:hover {
  color: magenta;
  text-decoration: none;
}



/* Intro Stylese */

#introduction {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto; /* centers introduction on screen? */
}

#introduction p {
  font-size: 1rem;
  line-height: 1.5;
}

#introduction .name {
  font-family: var(--sourceCode);
  font-size: 2rem;
}

.name span {
  font-family: var(--ubuntu);
  font-size: 4rem;
  color: var(--lightBlue);
  display: block;
}

#introduction h2 {
  font-size: 4rem;
  font-weight: normal;
}

#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

#contact p:last-child {
  margin-top: 3rem;
}

/* Sections & Gradient*/

.section-gray {
  background-color: var(--AZgray)
}

.section-blue {
  background-color: var(--mediumBlue);
}

.gradient {
  background: linear-gradient(90deg, rgba(26, 47, 65, 1) 0%, rgba(71, 127, 161, 1) 35%, rgba(208, 252, 251, 1) 100%);
  /* background: linear-gradient(90deg, rgba(71, 127, 161, 1) 35%, rgba(208, 252, 251, 1) 100%); */
  /* background: linear-gradient(90deg, rgba(44, 131, 184, 1) 35%, rgba(208, 252, 251, 1) 100%); */
  height: 2px;
}


/* Navigation Bar */

nav {
  list-style-type: none;
  font-family: var(--sourceCode);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--ubuntu);
}
nav h1 a:hover {
  color: var(--lightBlue);
}

nav h1 span {
  color: white;
}

nav ul {
  display: flex;  /* Puts everything on one line */

  /* Big Three. Almost always use these for nav bar */
  list-style-type: none;  /* Removes bullets */
  /* nav's by default come with padding or margin, depending on browser */
  padding: 0;
  margin: 0;

  /* Others */
  flex-flow: row wrap;  /* Allows elements to wrap */
  justify-content: center;  /* Center HORIZONTALLY */
  align-items: center;  /* Center VERTICALLY */
  gap: 2rem;  /* New useful property to specify gap between items */
  font-size: 140%;  /* added by me*/
}

nav li:first-child {
  flex: 0 0 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--lightBlue);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  /* color: var(--lightBlue); */
  /* color:white; */
}

nav [class*="fa-"]:hover {
  color: magenta;
}

nav a {
  color: var(--lightBlue);
  text-decoration: none;

  display: block;
  /* Displays an element as a block element (like <p>).
   It starts on a new line, and takes up the whole width */
}


/* Button*/

.button {
  background-color: var(--mediumBlue);
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  color: var(--lightBlue);
  border: 2px solid var(--lightBlue);
  text-decoration: none;
  font-family: var(--sourceCode);
}

.button:hover {
  background-color: var(--AZgray);
  color: var(--lightBlue);
}


/* Projects */
#projects {
  padding: 4rem 1rem;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
  color: var(--lightBlue);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--sourceCode);
  margin: 0;
}

#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: var(--sourceCode);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
}

#projects img {
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  border-left: 1px solid var(--lightBlue);
  border-top: 1px solid var(--lightBlue);
  border-radius: 25px;
}

.black-box {
background-color: var(--darkBlue);
padding: 1rem;
border-radius: 10px;
font-size: 1rem;
line-height: 1.5;
}


/* Footer */
footer {
  color: inherit !important;
  padding: 4rem 0;
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 2rem 0;

  /* Others */
  flex-flow: row wrap;  /* Allows elements to wrap */
  justify-content: center;  /* Center HORIZONTALLY */
  gap: 3rem;
  font-size: 3rem;
}

footer a {
    color: var(--lightBlue);
}

img {
  width: 100%;
}


/* Media Queries */
@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
    /* combined with text align, margin-right pushes the right text to the right. */
  }

  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  #projects img {
    grid-column:  1/6;
    grid-row: 1/2;
  }

  .text{
    padding: 12px;
    order: 2;
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
  }

  #projects ul {
    justify-content: flex-end;
  }

  #projects .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }

  #projects .reverse img {
  border-left: none;
  border-right: 1px solid var(--lightBlue);
    grid-column: 6/11;
    grid-row: 1/2;
  }

  #projects .reverse ul {
    justify-content: flex-start;
  }

}
